<h2>About me</h2>
<div class="col-sm-6 text-right">
  <h3>Busy at</h3>
  <ul>
    <li>CETA-Ciemat</li>
    <li>SuicideByStar</li>
    <li>PHP Cáceres</li>
  </ul>
  <h3>Programming</h3>
  <ul>
    <li>PHP</li>
    <ul>
      <li>Symfony 1.x, 2 &amp; 3</li>
      <li>Silex</li>
      <li>Doctrine</li>
      <li>Composer</li>
    </ul>
    <li>Javascript</li>
    <ul>
      <li>AngularJS</li>
      <li>PixiJS</li>
      <li>jQuery</li>
    </ul>
    <li>CSS &amp; HTML</li>
    <ul>
      <li>SASS</li>
      <li>LESS</li>
      <li>Bootstrap</li>
    </ul>
    <li>Java</li>
    <li>...</li>
  </ul>
</div>
<div class="col-sm-6 text-left">
  <h3>Other technologies</h3>
  <ul>
    <li>Linux</li>
    <li>Git &amp; SVN</li>
    <li>Ansible</li>
    <li>Vagrant</li>
    <li>Docker</li>
    <li>Jenkins</li>
    <li>MySQL</li>
    <li>MongoDB</li>
  </ul>
  <h3>Education</h3>
  <ul>
    <li>ScrumManager certification @ Estratecno</li>
    <li>M.Sc. in Grid Computing and Parallel Programming</li>
    <li>Professional Expert Degree in Development of Dynamic Webs</li>
    <li>B.Sc. in Computer Engineering @ Universidad of Extremadura</li>
    <li>...</li>
  </ul>
  <h3>Languages</h3>
  <ul>
    <li>Spanish (Native)</li>
    <li>English (Cambridge First Certificate)</li>
  </ul>
</div>
<div class="col-sm-12">
  <a href="#" class="btn btn-default">Download complete CV</a>
</div>
