{{ $.Scratch.Add "page_type" "single" }}
{{ $.Scratch.Add "content_type" "project" }}
{{ partial "page/pre-content.html" . }}
<div class="featured-image">
  <img src="{{ .Site.BaseURL }}/{{ .Params.featured_image }}" alt="{{ .Title }}"></img>
</div>
{{ .Content }}
<p>
{{ if isset .Params "technologies" }}
  <strong>Developed with:</strong>
  <ul>
    {{ range .Params.technologies }}
      <li>{{ . }}</li>
    {{ end }}
  </ul>
</p>
{{ end }}
{{ if isset .Params "github_url" }}
  Check the <a href="{{ .Params.github_url }}" alt="{{ .Title }}" target="_blank"><strong>Github repository</strong></a>
{{ end }}
{{ partial "page/post-content.html" . }}
