///////////////////////////////////////////
// General
///////////////////////////////////////////

.front-page {
  overflow-x: hidden;
  section {
    padding: $padding-large-vertical*2 $padding-large-horizontal*2;
    padding-bottom: $padding-large-vertical*5;
  }
  .content {
    max-width: $container-desktop;
    margin: auto;
    text-align: center;
    font-size: 1.5em;
    h2 {
      color: $light-color;
      padding-bottom: 0.25em;
      font-family: $font-family-serif;
      text-transform: lowercase;
      font-size: 5em;
      text-align: center;
    }
  }
}

.container-fluid {
  @include dashed-transition($lighter-color);
}

@media (max-width: $screen-xs-max) {
  .front-page {
    section {
      padding: $padding-large-vertical $padding-large-horizontal;
      padding-bottom: $padding-large-vertical*5;
    }
    .content {
      h2 {
        font-size: 3em;
      }
    }
  }
}

///////////////////////////////////////////
// Cover section
///////////////////////////////////////////

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

$arrow-box-border: 10px;
$arrow-box-height: 100px;
$arrow-box-width: 150px;
$photo-width: 400px;
$photo-border-size: 20px;

.arrow-box {
	position: relative;
	background: $lighter-color;
	border: $arrow-box-border solid $accent-color;
  color: $accent-color;
  height: $arrow-box-height;
  width: $arrow-box-width;
  border-radius: 10px;
  display: flex;
  .content {
    margin: auto;
    font-family: $font-family-serif;
    font-size: 50px;
  }
}
.arrow-box:after, .arrow-box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-box:after {
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $lighter-color;
	border-width: 15px;
	margin-top: -15px;
}
.arrow-box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: $accent-color;
	border-width: 29px;
	margin-top: -29px;
}

#cover {
  display: flex;
  min-height: 100vh;
  background: $darker-color;
  & + section {
    border-top: $darker-color 1.5em dashed;
  }
  color: $light-color;
  font-family: $font-family-sans-serif;
  h1 {
    color: $accent-color;
    font-size: 5em;
    text-transform: lowercase;
    font-family: $font-family-serif;
  }
  .i-am {
    color: $light-color;
    font-size: 2em;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
    font-family: $font-family-sans-serif;
    margin-bottom: 20px;
    &.small {
      font-size: 1.3em;
      color: lighten($dark-color, 10);
      i {
        font-size: 0.9em;
      }
    }
  }
  .photo {
    position: relative;
    img {
      border-radius: 50%;
      width: $photo-width;
      border: $photo-border-size solid $dark-color;
      &:hover + .arrow-box {
        animation: shake .5s ease-in-out;
      }
    }
    .arrow-box {
      position: absolute;
      top: calc(50% - #{$arrow-box-height / 2});
      right: calc(50% - #{$photo-width / 2} - #{$photo-border-size} - #{$arrow-box-width} - 10px);
    }
  }
}

@media (max-width: $screen-xs-max) {
  #cover {
    padding: 0px;
    h1 {
      font-size: 2.75em;
      padding-bottom: $padding-large-vertical;
    }
    .photo img {
      max-width: 100%;
      border-radius: 0px;
      border: none;
    }
    .i-am {
      font-size: 1em;
      &.small {
        font-size: 0.75em;
      }
    }
  }
}

///////////////////////////////////////////
// About section
///////////////////////////////////////////

#about {
  background: $dark-color;
  color: $light-color;
  text-align: left;
  @include dashed-transition($dark-color);
  .content {
    text-align: left;
  }
}

.column-list {
  text-align: right;
  padding-right: 3em;
  h3 {
    font-size: 1.5em;
    font-family: $font-family-serif;
    text-transform: uppercase;
    color: $accent-color;
    @include dashed-underline($accent-color);
  }
  ul {
    padding-bottom: 0.5em;
    list-style-position: inside;
    li {
      margin-bottom: 0.3em;
      span.sub {
        display: block;
        font-size: 0.745em;
        width: 100%;
        margin-left: 1em;
        margin-bottom: 1em;
        font-style: italic;
      }
    }
    li.featured {
      font-weight: 800;
      text-decoration: underline;
      & + ul {
        margin-bottom: 0.5em;
      }
    }
  }
}

.column-list + .column-list {
  text-align: left;
}

///////////////////////////////////////////
// Projects section
///////////////////////////////////////////

#projects {
  background: $accent-color;
  @include dashed-transition($accent-color);
}

///////////////////////////////////////////
// Publications section
///////////////////////////////////////////

#pubs {
  background: $lighter-color;
  h2 {
    color: $accent-color;
  }
}

///////////////////////////////////////////
// Talks section
///////////////////////////////////////////

#talks {
  background: $light-color;
  @include dashed-transition($light-color);
  h2 {
    color: $dark-color;
  }
}
