// Base summary card
.summary {
  margin-bottom: 2em;
  text-align: center;
  a {
    display: block;
    transition: all 0.3s ease-in-out 0s;
    padding: 1em 0;
    &:hover, &:active {
      text-decoration: none;
      background: repeating-linear-gradient(
        -55deg,
        transparent,
        transparent 20px,
        rgba(0, 0, 0, 0.05) 20px,
        rgba(0, 0, 0, 0.05) 40px
      );
    }
    .title {
      display: flex;
      width: 100%;
      @include dashed-underline($dark-color);
      text-align: center;
      padding-bottom: 10px;
      margin-bottom: 10px;
      h3 {
        margin: auto;
        margin-bottom: 0;
        color: $light-color;
        font-weight: 800;
        font-size: 1.5em;
      }
    }
    .subtitle {
      text-transform: uppercase;
      color: $light-color;
      font-size: 0.75em;
    }
    .featured-image {
      max-width: 100%;
      height: 200px;
      display: flex;
      margin: 0 !important;
      img {
        margin: auto;
        max-width: 100%;
        max-height: 200px;
      }
    }
  }
}

.summary.talk {
  a {
    padding: 0;
    .title {
      @include dashed-underline($accent-color);
      min-height: 4.5em;
      h3 {
        font-size: 1em;
        color: $dark-color;
        border: none;
      }
    }
    .subtitle {
      margin-top: 10px;
      color: $darker-color;
      min-height: 3em;
    }
  }
}

//Simple list
.publication-list {
  text-align: left;
  margin-bottom: 2em;
  list-style: none;
  padding: 0px;
  li {
    margin-bottom: 1em;
    a, a:hover, a:visited {
      color: $darker-color;
    }
  }
  a {
    font-weight: 800;
    color: $dark-color;
  }
  .event {
    font-style: italic;
    font-size: 0.75em;
  }
}

@media (max-width: $screen-xs-max) {
  .summary {
    margin: 0em;
    padding: 0px;
    a {
      padding: 0px;
      padding-top: 1em;
      @include dashed-underline($dark-color);
      .title {
        border: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
      .subtitle {
        color: $dark-color;
      }
    }
  }

  .summary.talk {
    a {
      .title {
        border: none;
        min-height: 0px;
        margin-bottom: 0.5em;
      }
      .subtitle {
        min-height: 0px;
        margin-bottom: 1em;
      }
    }
  }


  .col-project, .col-talk {
    padding: 0px;
  }

  .col-talk {
    h3 {
      padding-top: 1em;
    }
  }
}

.page.list .content {
  margin-top: 0;
}

.page.list.about .row {
  padding: 0 $padding-large-horizontal;
}

.page.list .summary {
  padding-top: $padding-large-vertical * 2;
}
