@mixin bottom-shadow() {
  box-shadow: 0 5px 10px -4px black;
}

@mixin dashed-transition($color) {
  & + * {
    border-top: $color 20px dashed;
  }
}

@mixin self-dashed-transition($color) {
  border-top: $color 20px dashed;
}
