nav .nav {
  padding-right: 1em;

  li > a {
    background-color: rgba(0, 0, 0, .7);
    color: $light-color;
    font-size: 1.2em;
    font-family: $font-family-serif;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    margin-top: 1em;
    min-width: 100px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    @include bottom-shadow();
    i.fa {
      color: $light-color;
    }
    &:hover {
      color: $accent-color;
      background-color: rgba(0, 0, 0, .8);
      transition: all ease-out 0.1s;
    }
  }
}

.navbar-toggle {
  background-color: rgba(0, 0, 0, .7);
  padding: 1em;
  margin-top: 1em;
  @include bottom-shadow();
  .icon-bar {
    background: $light-color;;
  }
}

.navbar-collapse {
  transition-property: all;
}

@media (max-width: $screen-xs-max) {
  nav .title {
    position: absolute;
    top: -10px;
    left: 1.5em;
    li > a {
      height: 44px;
      padding-top: 12px;
      z-index: 666;
    }
  }

  .navbar-toggle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 666;
  }

  .navbar-collapse {
    padding-top: 64px;
    background-color: $darker-color;
    @include bottom-shadow();
    padding-bottom: 10px;
    ul li > a {
      padding-left: 0;
      height: 44px;
      padding-top: 12px;
      margin-left: 12px;
      margin-right: 2px;
    }
  }
}
