.page {
  font-size: 1.5em;
  width: 100%;
  @include dashed-transition($light-color);

  header {
    padding: 50px 20px;
    background: $darker-color;
    text-align: center;
    @include dashed-transition($darker-color);
  }

  h1 {
    font-family: $font-family-serif;
    color: $accent-color;
    font-size: 5em;
    margin: 0 auto;
    padding-top: 30px;
  }

  h2 {
    font-family: $font-family-serif;
    font-size: 2em;
    width: 100%;
    border-bottom: 3px dashed $accent-color;
    margin-bottom: $padding-large-vertical * 2;
    padding-bottom: $padding-large-vertical;
  }

  .subtitle {
    color: $light-color;
    font-weight: 800;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .content {
    max-width: $container-desktop;
    margin: 50px auto;
    .featured-image {
      width: 100%;
      text-align: center;
      margin: 1em auto;
      img {
        max-width: 80%;
        max-height: 250px;
      }
    }
  }

  &.publication {
    h1 {
      font-size: 2.5em;
    }
  }

  &.talk {
    h1 {
      font-size: 3em;
    }
    header .subtitle {
      display: none;
    }
  }
}

.page .summary {
  h3 {
    color: $dark-color;
    border-bottom: 3px dashed $accent-color;
  }
  .subtitle {
    color: $dark-color;
  }
  .featured-image img {
    max-height: 200px;
  }
}

.page.talk .summary {
  h3 {
    font-size: 1.5em;
  }
}
