$darker-color: #222831;
$dark-color: #393E46;
$accent-color: #00ADB5;
$light-color: #EEEEEE;
$lighter-color: #FFFFFF;

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Bree Serif', serif;

$headings-font-family: $font-family-serif;
