@import '_bootstrap';
@import '_variables';
@import '_mixins';
@import '_navbar';
@import '_lists';
@import '_frontpage';
@import '_page';

::selection {
  background: #ffb7b7;
}

a, a:hover, a:visited {
  color: $accent-color;
}

body {
  background-color: $light-color;
  font-family: $font-family-sans-serif;
}

footer {
  background: $dark-color;
  color: $light-color;
  padding: 1em;
  h5 {
    font-weight: 800;
    text-transform: uppercase;
  }
}

.btn.btn-default {
  text-transform: uppercase;
  border-radius: 0px;
  border: none;
  font-weight: 800;
  position: relative;
  font-size: 24px;
  background: $darker-color;
  border: 0.5em solid $darker-color;
  border-left: 0.75em solid $darker-color;
  border-right: 0.75em solid $darker-color;
  color: $light-color;
  @include bottom-shadow();

  &:hover, &:active, &:focus {
    background: $darker-color;
    color: $light-color;
    border: 0.5em solid $darker-color;
    border-left: 0.75em solid $darker-color;
    border-right: 0.75em solid $darker-color;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: $light-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  &:hover:before, &:active:before, &:focus:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

@media (max-width: $screen-xs-max) {
  .btn.btn-default {
    font-size: 16px;
    margin-top: 1em;
  }
}
