@import '_bootstrap';
@import '_navbar';

$color1: #7A9EAF;
$color2: #655989;
$color3: #DE88A5;
$color4: #FFCEBB;

.front-page {
  section {
    padding: $padding-large-vertical*2 $padding-large-horizontal*2;  
  }
  .content {
    max-width: $container-desktop;
    margin: auto;
    text-align: center;
    h2 {
      margin: 0 auto;
    }
  }
}

//Frontpage
#cover {
  display: flex;
  height: 100vh;
  background: $color1;
}

#about {
  background: $color2;
}

#projects {
  background: $color3;
}

#talks {
  background: $color4;
}

#pubs {
  background: $color1;
}

#contact {
  background: $color2;
}
