{{ partial "pre-content.html" . }}
<div class="container-fluid front-page">
  <section id="cover" class="row">
    <div class="content">
      <div class="photo">
        <img src="img/avatar.jpg" alt="Fancy photo of me"/>
        <div class="arrow-box hidden-xs">
          <span class="content">Hi!</span>
        </div>
      </div>
      <h1>César Suárez Ortega</h1>
      <span class="i-am">Software Engineer // Researcher</span>
      <span class="i-am small">I <i class="fa fa-heart text-danger"></i> Web Dev</span>
    </div>
  </section>
  <section id="about" class="row">
    <div class="content">
      <h2>About me</h2>
      {{ partial "frontpage/about.html" . }}
    </div>
  </section>
  <section id="projects" class="row">
    <div class="content">
      {{ partial "frontpage/projects.html" . }}
    </div>
  </section>
  <section id="talks" class="row">
    <div class="content">
      {{ partial "frontpage/talks.html" . }}
    </div>
  </section>
  <section id="pubs" class="row">
    <div class="content">
      {{ partial "frontpage/publications.html" . }}
    </div>
  </section>
</div>
{{ partial "post-content.html" . }}
